<!--The content below is only a placeholder and can be replaced.-->
<header class="topHeader">
  <mat-toolbar color="primary" class="flex">
    <div class="TopLogo">
      <span><mat-icon>mood</mat-icon>
      Logo</span>
      <span>Welcome</span>
    </div>
    <div class="TopMenu">
      <button mat-raised-button color="primary" routerLink="/hollywoodMovies" routerLinkActive="active">Hollywood</button>
      <button mat-raised-button color="primary" routerLink="/bollywoodMovies" routerLinkActive="active">Bollywood</button>
      <button mat-icon-button v >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
</header>
<router-outlet></router-outlet>

